body {
  background-color: rgb(203, 211, 245);
  margin-top: 100px;
  margin-bottom: 0px;
}

p {
  margin: 0%;
}

.firstbox {
  display: flex;
  flex-direction: column;
  background-color: white;
  height: 200px;
  width: 125px;
  border-radius: 7px;
  margin-bottom: 100px;
}

.image {
  margin: 5.4px;
  width: 115px;
  border-radius: 7px;
}

main {
  display: flex;
  justify-content: center;
}
.firsttx {
  font-family: Arial;
  font-size: 11px;
  width: 99px;
  padding-left: 15px;
}
h6 {
  margin: 0%;
}
.firstp {
  font-size: 5.8px;
  width: 95px;
  color: rgb(142, 146, 146);
  padding-left: 17px;
  padding-top: 9px;
}
